.itemCard {
  width: 250px;
  max-height: 330px;
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border: 1px solid rgb(167, 167, 167);
}
.itemCard__image > img {
  width: 150px;
  height: 150px;
}
.itemCard__title > h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
}
.itemCard__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemCard__details > p {
  padding: 2px;
}
.itemCard__price {
  font-weight: 600;
  font-size: 16px;
}
.shopNow {
  background-color: #f47d35 !important;
  color: white !important;
  text-transform: capitalize !important;
  width: 100% !important;
  border-radius: 0px !important;
  padding: 5px 10px !important;
}
.itemCard__button {
  margin-top: 15px;
}
