.classroomMember {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 15px;
}
.classroomMember__top {
  display: flex;
  flex: 1;
}
.classroomMember:hover {
  background-color: #ececec;
}
.classroomMember__details > h3 {
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
  max-width: 200px;
  overflow-wrap: break-word;
}
.classroomMember__details > div {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  padding-left: 10px;
  max-width: 200px;
  overflow-wrap: break-word;
  align-items: center;
  flex: 1;
}
.admin,
.member {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.admin > div,
.member > div {
  display: flex;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-right: 2px;
}
.admin > div {
  background-color: green;
}
.member > div {
  background-color: red;
}
.make__admin,
.remove__admin {
  background-color: rgb(19, 177, 19) !important;
  text-transform: capitalize !important;
  color: white !important;
  padding: 5px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}
.remove__admin {
  background-color: #ee2a2a !important;
}
