.postView {
  background-color: #f1f2f5;
  min-height: 100vh;
}
.profile__link {
  text-decoration: none;
  outline: none;
  display: flex;
}
.postView__body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.postView__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}
.postView__left {
  flex: 0.5;
  align-items: center;
  background-color: white;
  border: 1px solid lightgray;
  margin-top: 10px;
}
.postView__avatar {
  margin-right: 10px;
}
.postView__topInfo > h3 {
  font-size: 16px !important;
}
.postView__topInfo > p {
  font-size: 12px !important;
  color: gray;
}
.postView__bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 25px;
}
.postView__bottom > p {
  font-size: 17px !important;
  width: 500px;
  overflow-wrap: break-word;
}
.postView__image > img {
  max-height: 550px;
  width: 100%;
  object-fit: cover;
}
.postView__options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}
.postView__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}
.liked__button {
  color: red;
  transition: 0.5s;
}
.postView__option > p {
  margin-left: 10px;
}
.postLike__option:hover > .postLike__button {
  color: red;
  transition: 0.5s;
}
.postComment__option:hover > .postComment__button {
  color: #5554e1;
  transition: 0.3s;
}
.postShare__option:hover > .postShare__button {
  color: green;
  transition: 0.3s;
}
@media only screen and (max-width: 600px) {
  .postView__left {
    display: none;
  }
  .postView__bottom > p {
    max-width: 300px;
  }
}
