.header {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header__left {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 5px;
  margin-left: 10px;
  border-radius: 6px;
}
.headerProfileLink {
  text-decoration: none;
  color: black;
}
.logoutButton {
  background: #5554e1 !important;
  color: white !important;
  height: 30px !important;
  margin-top: 5px !important;
  margin-left: 10px !important;
  text-transform: capitalize !important;
}
.headerOptionLink {
  text-decoration: none;
}
.header__searchField {
  display: flex;
  flex-direction: column;
}
.header__searchResults {
  background-color: white;
  max-height: 230px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(0px, 55px);
  margin-left: 15px;
  margin-top: -10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  display: none;
}
.header__searchResults::-webkit-scrollbar {
  display: none;
}
.header__user {
  display: flex;
  padding-top: 10px;
  padding-left: 7px;
  padding-bottom: 6px;
  border-bottom: 1px solid #eff2f5;
  align-items: center;
}
.header__searchLink {
  text-decoration: none;
  color: black;
}
.header__user > h4 {
  font-size: 16px;
  margin-left: 8px;
  width: 250px;
  overflow: hidden;
}
.header__user:hover {
  background-color: #eff2f5;
}
.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  outline: none;
}
.header__logo {
  object-fit: contain;
  height: 35px;
}
.header__link {
  outline: none;
}
.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}
.header__option > .MuiSvgIcon-root {
  color: gray;
}
.header__option:hover > .MuiSvgIcon-root {
  color: #5554e1;
}
.header__option--active > .MuiSvgIcon-root {
  color: #5554e1;
}
.header__option--active {
  border-bottom: 4px solid #5554e1;
  padding-bottom: 6px !important;
}
.header__option {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  cursor: pointer;
}
.header__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 10px 30px !important;
  border-bottom: none;
}
.header__info {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__menu {
  background-color: rgba(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  visibility: hidden;
}
.cancelIcon {
  font-size: 33px !important;
}
.header__cancel {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.header__info > h4 {
  color: black !important;
  text-decoration: none !important;
  margin-left: 10px;
}
.menu__icon {
  font-size: 33px !important;
  margin-right: 10px !important;
  display: none !important;
}
.header__right {
  display: flex;
  padding: 10px;
}
#header__logoSmall {
  display: none;
}
.header__optionIcon {
  font-size: 33px !important;
}

@media only screen and (max-width: 600px) {
  .header__input {
    display: none;
  }
  #header__logo {
    display: none;
  }
  #header__logoSmall {
    display: block;
    height: 30px;
  }
  .header__optionIcon {
    font-size: 26px !important;
  }
  .header__option {
    padding: 10px 10px;
  }
  .header__option:hover {
    padding: 10px 10px;
  }
  .header__center {
    margin-left: 10px;
    display: none;
  }
  .header__info > h4 {
    display: none;
  }
}
@media only screen and (max-width: 840px) {
  .header__input {
    display: none;
  }
  #header__logo {
    display: none;
  }
  #header__logoSmall {
    display: block;
    height: 40px;
  }
  .header__optionIcon {
    font-size: 30px !important;
  }
  .header__info > h4 {
    display: none;
  }
  .header {
    padding: 0px;
  }
  .menu__icon {
    display: inline-block !important;
  }
  .header__menu {
    visibility: visible;
  }
}
