.userCard {
  flex: 0.4;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.advertisement__blocks {
  position: sticky;
  width: 300px;
  border-radius: 6px;
  background-color: white;
  top: 72px;
}
.userCard__body {
  display: flex;
  background-color: white;
  padding: 30px 20px;
  flex-direction: column;
  width: 270px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.userCard__top {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.userCard__top > h2 {
  font-size: 25px !important;
  margin-left: 10px;
}
.userCard__dp {
  margin-right: 10px;
}
.userCard__center {
  display: flex;
  justify-content: space-evenly;
}
.userCard__center {
  padding: 10px;
}
.userCard__center > p {
  font-size: 18px !important;
}
.userCard__center > p > span {
  font-weight: 600;
}
@media only screen and (max-width: 1010px) {
  .userCard {
    display: none;
  }
}
