.login {
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: #e9ebee;
  justify-content: center;
}
.login__container {
  background-color: #fff;
  width: 325px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  margin-right: 20px;
}
.err__msg > p {
  color: red;
  padding: 10px;
  font-weight: 600;
}
.login__containerLeft {
  width: 500px;
  margin-right: 20px;
  margin-left: 20px;
}
.login__containerLeft > h2 {
  font-weight: 500;
  font-size: 35px;
}
.login__container > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.login__logo {
  object-fit: contain;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.login__container > form > input {
  height: 42px;
  margin-bottom: 10px;
  background-color: white;
  width: 94%;
  outline: none;
  border: 1px solid #a6a6a6;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(0, 0, 0, 0.07) inset;
  padding: 0px 10px;
}
.login__container > form > input:focus {
  transition: all 100ms linear;
  border-color: #5554e1;
  box-shadow: 0 0 3px 2px rgba(63, 94, 154, 0.5);
}
.login__loginButton {
  background-color: #5554e1 !important;
  border: none;
  color: white !important;
  border-radius: 6px;
  width: 100%;
  margin-top: 10px !important;
  font-size: 17px !important;
  font-weight: 600 !important;
  height: 42px;
  cursor: pointer;
  text-transform: capitalize !important;
}
.google__signin {
  font-size: 15px !important;
  font-weight: 600 !important;
  background-color: white !important;
  border: 1px solid #a6a6a6 !important;
  margin-top: 10px !important;
  text-transform: capitalize !important;
}
.login__container > form > hr {
  margin: 25px;
  width: 98%;
  color: rgb(221, 221, 221);
  border: 1px solid;
}
.login__container > form > h5 {
  margin-top: 20px;
  color: #5554e1;
  font-weight: 400px;
  text-align: center;
}
.loginLink {
  text-decoration: none;
  outline: none;
}
.login__registerButton {
  background-color: #e15554 !important;
  border: none;
  color: white !important;
  height: 42px;
  border-radius: 6px;
  width: 185px;
  font-weight: 600 !important;
  cursor: pointer;
  text-transform: capitalize !important;
}

@media only screen and (max-width: 720px) {
  .login__container {
    width: 250px;
  }
  .login__logo {
    width: 150px;
  }
  .login__containerLeft {
    display: none;
  }
}
